body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #000;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url("images/gymbackround.jpg") center / cover no-repeat;
    color: white;
    padding: 80px 20px;
    text-align: center;
}


section {
    padding: 40px 20px;
    text-align: center;
}

.card {
    background: #fff;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px;
    font-weight: bold;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.schedule-table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.schedule-table th,
.schedule-table td {
    padding: 12px 15px;
    text-align: center;
}

.schedule-table thead {
    background: #000;
    color: #fff;
}

.schedule-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.schedule-table tbody tr:hover {
    background: #f2f2f2;
    cursor: pointer;
}

.schedule-table tbody tr:last-child {
    border-bottom: none;
}
.cta {
    background: #111;
    color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.join-btn {
    margin-top: 15px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    background: #ffcc00;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.join-btn:hover {
    background: #ffaa00;
}
